<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Colours of Hope Foundation</title>
  <meta name="description" content="We are a non profit /non governmental organization on a mandate to give life and hope to the nations.">
  <meta name="keywords" content="Colours of Hope, NGO, Foundation">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href= "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href= "../../stylesheets/style.css">
  <link rel="icon" type="image/x-icon" href= "../../images/favicon.ico">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/public/javascript/contactform.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="banner" class="banner">
    <div class="bg-color">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#banner">Home</a></li>
                            <li class=""><a href="#about">About</a></li>
                            <li class=""><a href="#services">Services</a></li>
                            <li  class=""><a href="#gallery">Gallery</a></li>
                            <li class=""><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <img src="../../images/logo.jpg" class="img-responsive" style="width: 140px; margin-top: -16px;">
                    </div>
                    <div class="banner-text text-center">
                        <h1 class="white">Colours of Hope Foundation</h1>
                        <p>Our Mission is to improve the health of women and children in underserved communities through outreach beyond the walls of static health facilities with emphasis on community participation, equity and intersectoral development.</p>
                        <a href="#about" class="btn btn-appoint">Learn More</a>
                        <a href="#" class="btn btn-appoint">Donate</a>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="#service"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


